.card-container {
  background-color: #e55c78;
  width: 40rem;
  height: 35rem;
  color: #f0d1d7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__heading {
  font-size: 3rem;
  margin-bottom: 3rem;
}

a:-webkit-any-link {
  text-decoration: none;
  color: #000;
}

.btn {
  font-size: 2rem;
  background-color: #e9efef;
  color: #000;
  font-weight: 700;
  margin-bottom: 2rem;
  padding: 1rem;
  width: 25rem;
  text-align: center;
  transition: all 0.3s;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.01);
}
